@font-face {
  font-family: "Raleway Regular";
  src: url(../fonts/Raleway-Regular.ttf);
}

@font-face {
  font-family: Montserrat;
  src: url(../fonts/Montserrat-Light.ttf);
}

@font-face {
  font-family: "Montserrat - Ultra Light";
  src: url(../fonts/Montserrat-ExtraLight.ttf);
}

@font-face {
  font-family: "Raleway - Extra Bold";
  src: url(../fonts/Raleway-ExtraBold.ttf);
}

@font-face {
  font-family: "Raleway - Semi Bold";
  src: url(../fonts/Raleway-SemiBold.ttf);
}

@font-face {
  font-family: Roboto;
  src: url(../fonts/Roboto-Regular.ttf);
}

body {
  width: 1920px;
  margin: 0 auto;
  padding: 0;
}

.main-header {
  width: 100%;
  height: 1024px;
  padding: 40px 150px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-image: url(../img/header.jpg);
  background-color: rgba(17, 17, 17, 0.7);
  background-blend-mode: darken;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}

.main-header-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.main-header-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-decoration: none;
  width: 177px;
  margin-left: 226px;
}

.main-header-logo-icon {
  fill: #fff;
}

.main-header-logo-text {
  font-family: "Raleway Regular";
  font-size: 34px;
  font-weight: 400;
  color: #fff;
  letter-spacing: -1.36px;
  text-align: right;
}

.main-header-logo:hover .main-header-logo-text {
  color: #c7b299;
}

.main-header-logo:hover .main-header-logo-icon {
  fill: #c7b299;
}

.main-header-logo:active .main-header-logo-text {
  color: #fff;
}

.main-header-logo:active .main-header-logo-icon {
  fill: #fff;
}

.main-header-mobile-menu-label {
  display: none;
}

.main-header-menu-checkbox {
  display: none;
}

.main-header-menu-list {
  list-style-type: none;
  width: 637px;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 22px 0 0 219px;
}

.main-header-menu-list-item a {
  display: block;
  width: 100%;
  height: 100%;
  color: #fff;
  text-align: center;
  text-decoration: none;
  font-family: Montserrat, sans-serif;
  font-size: 14px;
  font-weight: 300;
}

.main-header-menu-list-item a:hover {
  color: #c7b299;
}

.main-header-menu-list-item a:active {
  color: #fff;
  font-weight: 600;
}

.main-header-cart_btn {
  margin: 17px 0 0 63px;;
  padding: 0;
  border: 0;
  outline: none;
  background-color: transparent;
}

.main-header-cart-icon {
  fill: #fff;
}

.main-header-cart_btn:hover .main-header-cart-icon {
  fill: #c7b299;
}

.main-header-cart_btn:active .main-header-cart-icon {
  fill: #fff;
}

.main-header-search {
  width: 24px;
  height: 24px;
  outline: none;
  border: 0;
  background-color: transparent;
  background-image: url(../img/icon-search.svg);
  background-size: contain;
  background-repeat: no-repeat;
  margin: 18px 0 0 28px;
}

.main-header-search:hover {
  background-image: url(../img/icon-search-hover.svg);
}

.main-header-search:focus {
  width: 300px;
  -webkit-transition: width 1s ease-out;
  transition: width 1s ease-out;
  background-image: none;
  background-color: #fff;
}

.main-header-bottom {
  margin-top: 285px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.main-header-title {
  max-width: 590px;
}

.main-header-small-title {
  margin: 0;
  height: 34px;
  color: #fff;
  font-family: "Raleway Regular";
  font-size: 36px;
  font-weight: 500;
  text-align: center;
}

.main-header-big-title {
  margin: 14px 0 0 0;
  height: 50px;
  color: #fff;
  font-family: "Raleway - Extra Bold";
  font-size: 52px;
  font-weight: 400;
  text-align: center;
}

.main-header-slogan {
  margin: 19px 0 0 0;
  height: 39px;
  color: #fff;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  text-align: center;
}

.main-header-get-started-btn {
  margin: 52px auto 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 170px;
  min-height: 50px;
  border-radius: 3px;
  background-color: #998675;
  text-decoration: none;
  border-bottom: 3px solid #736357;
}

.main-header-get-started-btn-text {
  margin: auto;
  font-family: "Raleway - Extra Bold";
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  line-height: 23px;
  text-align: center;
  text-transform: uppercase;
}

.main-header-get-started-btn:hover {
  background-color: #736356;
  border-bottom: 3px solid #998675;
}

.main-header-get-started-btn:hover .main-header-get-started-btn-text {
  color: #ccc;
}

.main-header-get-started-btn:active .main-header-get-started-btn-text {
  color: #fff;
}

.main-header-slider-left {
  display: block;
  width: 40px;
  height: 73px;
  position: relative;
}

.main-header-slider-left::after {
  content: "";
  display: inline-block;
  width: 52px;
  height: 52px;
  border-top: 2px solid #fff;
  border-left: 2px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  position: absolute;
  top: 10px;
  left: -25px;
}

.main-header-slider-left:hover::after {
  border-top: 2px solid #c7b299;
  border-left: 2px solid #c7b299;
}

.main-header-slider-left:active::after {
  border-top: 3px solid #fff;
  border-left: 3px solid #fff;
}

.main-header-slider-right {
  display: block;
  width: 40px;
  height: 73px;
  position: relative;
}

.main-header-slider-right::after {
  content: "";
  display: inline-block;
  width: 52px;
  height: 52px;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  top: 10px;
  left: -25px;
}

.main-header-slider-right:hover::after {
  border-top: 2px solid #c7b299;
  border-right: 2px solid #c7b299;
}

.main-header-slider-right:active::after {
  border-top: 3px solid #fff;
  border-right: 3px solid #fff;
}

.main-header-carousel-indicators {
  width: 100%;
  margin: 327px auto 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.main-header-carousel-btn {
  display: block;
  height: 11px;
  width: 11px;
  margin: 0 6px 0;
  border-radius: 50%;
  background-color: #fff;
  opacity: 0.5;
}

.main-header-carousel-btn:hover {
  background-color: #c7b299;
  opacity: 1;
}

.main-header-carousel-btn:active {
  border: 3px solid #fff;
}

.main-header-carousel-btn-active {
  display: block;
  height: 11px;
  width: 11px;
  margin: 0 6px 0;
  border: 2px solid #c7b299;
  border-radius: 50%;
  background-color: transparent;
}

.main-header-carousel-btn-active:hover {
  background-color: #c7b299;
}

.main-header-carousel-btn-active:active {
  border: 3px solid #fff;
}

.realizations {
  width: 100%;
}

.realizations-work-directions {
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 80px 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.realizations-work-directions-menu-item-wrapper {
  max-width: 266px;
  margin: 0 15px;
  padding: 0;
  text-align: center;
  position: relative;
}

.realizations-work-directions-menu-item-link {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
}

.realizations-work-directions-menu-item-icon {
  fill: #555;
  height: 49px;
}

.realizations-work-directions-menu-item-title {
  display: block;
  height: 21px;
  color: #555;
  font-family: "Raleway - Semi Bold";
  font-size: 22px;
  font-weight: 400;
  margin: 30px 0 19px;
}

.realizations-work-directions-menu-item-text {
  margin: 0;
  color: #8c8c8c;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.realizations-work-directions-menu-item-text:after {
  content: "";
  display: block;
  width: 70px;
  height: 3px;
  background-color: #f1eee9;
  margin: 30px auto 0;
}

.realizations-work-directions-menu-item-wrapper:hover .realizations-work-directions-menu-item-icon {
  fill: #c7b299;
}

.realizations-work-directions-menu-item-wrapper:hover .realizations-work-directions-menu-item-title {
  color: #c7b299;
}

.realizations-work-directions-menu-item-wrapper:hover .realizations-work-directions-menu-item-text:after {
  background-color: #c7b299;
}

.realizations-work-directions-menu-item-wrapper:active .realizations-work-directions-menu-item-icon {
  fill: #555;
}

.realizations-work-directions-menu-item-wrapper:active .realizations-work-directions-menu-item-title {
  color: #555;
}

.realizations-work-directions-menu-item-wrapper:active .realizations-work-directions-menu-item-text {
  color: #555;
  font-weight: 600;
}

.realizations-work-directions-menu-item-wrapper:active .realizations-work-directions-menu-item-text:after {
  background-color: #555;
}

.realizations-screenshots {
  background-color: #fbfaf8;
  text-align: center;
  min-height: 700px;
  padding: 83px 0 0 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
}

.realizations-screenshots-title {
  color: #555;
  font-family: "Raleway - Semi Bold";
  font-size: 30px;
  font-weight: 400;
  margin: 0;
}

.realizations-screenshots-text {
  color: #8c8c8c;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
  max-width: 757px;
  margin: 24px auto 0;
}

.realizations-screenshots-screenshot-center {
  width: 770px;
  height: 482px;
  position: absolute;
  bottom: 0;
  left: 575px;
  z-index: 3;
  -webkit-transition: -webkit-filter 1s;
  transition: -webkit-filter 1s;
  transition: filter 1s;
  transition: filter 1s, -webkit-filter 1s;
}

.realizations-screenshots-screenshot-left {
  width: 770px;
  height: 400px;
  position: absolute;
  bottom: 0;
  left: 345px;
  z-index: 1;
  -webkit-filter: brightness(35%);
  filter: brightness(35%);
  -webkit-transition: -webkit-filter 1s;
  transition: -webkit-filter 1s;
  transition: filter 1s;
  transition: filter 1s, -webkit-filter 1s;
}

.realizations-screenshots-screenshot-right {
  width: 770px;
  height: 400px;
  position: absolute;
  bottom: 0;
  right: 345px;
  z-index: 1;
  -webkit-filter: brightness(35%);
  filter: brightness(35%);
  -webkit-transition: -webkit-filter 1s;
  transition: -webkit-filter 1s;
  transition: filter 1s;
  transition: filter 1s, -webkit-filter 1s;
}

.realizations-screenshots-screenshot-left:hover {
  -webkit-filter: none;
  filter: none;
  z-index: 5;
}

.realizations-screenshots-screenshot-left:hover ~ .realizations-screenshots-screenshot-center {
  -webkit-filter: brightness(35%);
  filter: brightness(35%);
}

.realizations-screenshots-screenshot-right:hover {
  -webkit-filter: none;
  filter: none;
  z-index: 5;
}

.realizations-screenshots-screenshot-right:hover ~ .realizations-screenshots-screenshot-center {
  -webkit-filter: brightness(35%);
  filter: brightness(35%);
}

.multipurpose-theme {
  width: 100%;
  background-image: -webkit-gradient(linear, left top, right top, from(#211b19), to(#4e3427));
  background-image: linear-gradient(to right, #211b19 0%, #4e3427 100%);
  padding: 50px 0 50px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  min-height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.multipurpose-theme-title {
  font-family: "Raleway Regular";
  font-size: 28px;
  font-weight: 400;
  line-height: 28px;
  color: #fff;
  margin: 0 0 8px 376px;
}

.multipurpose-theme-title span {
  color: #c7b299;
}

.multipurpose-theme-text {
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 300;
  line-height: 18px;
  color: #615855;
  margin: 0 0 0 376px;
}

.multipurpose-theme-purchase-btn {
  margin: 0 374px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 170px;
  min-height: 50px;
  border-radius: 3px;
  background-color: #998675;
  text-decoration: none;
  border-bottom: 3px solid #736357;
}

.multipurpose-theme-purchase-btn-text {
  margin: auto;
  font-family: "Raleway - Extra Bold";
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  line-height: 23px;
  text-align: center;
  text-transform: uppercase;
}

.multipurpose-theme-purchase-btn:hover {
  background-color: #736356;
  border-bottom: 3px solid #998675;
}

.multipurpose-theme-purchase-btn:hover .multipurpose-theme-purchase-btn-text {
  color: #ccc;
}

.multipurpose-theme-purchase-btn:active .multipurpose-theme-purchase-btn-text {
  color: #fff;
}

.latest-projects {
  width: 100%;
  background-color: #fff;
  padding: 80px 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
}

.latest-projects-title {
  display: block;
  margin: 0;
  color: #555;
  font-family: "Raleway - Semi Bold";
  font-size: 30px;
  font-weight: 400;
}

.latest-projects-text {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 300;
  color: #8c8c8c;
  line-height: 28px;
  max-width: 757px;
  margin: 24px auto 0;
}

.latest-projects-categories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 40px 0 0 0;
}

.latest-projects-categories-btn {
  display: block;
  text-decoration: none;
  margin: 0 5px;
  border: 1px solid #ebebeb;
  border-radius: 3px;
}

.latest-projects-categories-btn-active {
  display: block;
  text-decoration: none;
  margin: 0 5px;
  border: 1px solid #ebebeb;
  border-radius: 3px;
  background-color: #998675;
}

.latest-projects-categories-btn-text {
  display: block;
  text-align: center;
  margin: 10px 20px;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 300;
  line-height: 14px;
  color: #8c8c8c;
}

.latest-projects-categories-btn-active-text {
  display: block;
  text-align: center;
  margin: 10px 20px;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 300;
  line-height: 14px;
  color: #fff; 
}

.latest-projects-categories-btn:hover {
  background-color: #998675;
}

.latest-projects-categories-btn:hover .latest-projects-categories-btn-text {
  color: #fff;
}

.latest-projects-categories-btn:active {
  background-color: #fff;
  border-width: 3px;
}

.latest-projects-categories-btn:active .latest-projects-categories-btn-text {
  color: #8c8c8c;
  font-weight: 600;
}

.latest-projects-categories-btn-active:active {
  background-color: #fff;
  border-width: 3px;
}

.latest-projects-categories-btn-active:active .latest-projects-categories-btn-active-text {
  color: #8c8c8c;
  font-weight: 600;
}

.latest-projects-links {
  margin: 40px 375px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.latest-projects-wrapper {
  margin: 0 0 30px 0;
  position: relative;
}

.latest-projects-project-photo {
  display: block;
  width: 370px;
  height: 237px;
  -webkit-transition: -webkit-filter 1s;
  transition: -webkit-filter 1s;
  transition: filter 1s;
  transition: filter 1s, -webkit-filter 1s;
}

.latest-projects-project-share-btn,
.latest-projects-project-search-btn {
  width: 26px;
  height: 26px;
  padding: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  background-color: transparent;
  display: none;
  position: absolute;
  top: 105px;
}

.latest-projects-project-share-btn {
  background-image: url(../img/share.svg);
  left: 145px;
}

.latest-projects-project-search-btn {
  background-image: url(../img/search.svg);
  right: 145px;
}

.latest-projects-project-description {
  width: 370px;
  padding: 30px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #fbfaf8;
  text-align: left;
  position: relative;
  -webkit-transition: background-color 1s;
  transition: background-color 1s;
}

.latest-projects-project-description::before {
  content: "";
  border: 10px solid transparent;	
  border-bottom: 10px solid #fbfaf8;
  position: absolute;
  top: -20px;
  left: 25px;
  -webkit-transition: border-bottom-color 1s;
  transition: border-bottom-color 1s;
}

.latest-projects-project-description-title {
  display: block;
  margin: 0;
  font-family: "Raleway Regular";
  font-size: 20px;
  font-weight: 500;
  color: #c7b299;
  -webkit-transition: color 1s;
  transition: color 1s;
}

.latest-projects-project-description-text {
  display: block;
  margin: 14px 0 0 0;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 300;
  color: #d1d1d1;
  -webkit-transition: color 1s;
  transition: color 1s;
}

.latest-projects-wrapper:hover .latest-projects-project-photo {
  -webkit-filter: brightness(35%);
  filter: brightness(35%);
}

.latest-projects-wrapper:hover .latest-projects-project-share-btn {
  display: block;
}

.latest-projects-wrapper:hover .latest-projects-project-search-btn {
  display: block;
}

.latest-projects-wrapper:hover .latest-projects-project-description {
  background-color: #362f2d;
}

.latest-projects-wrapper:hover .latest-projects-project-description::before {
  border-bottom: 10px solid #362f2d;
}

.latest-projects-wrapper:hover .latest-projects-project-description-title {
  color: #fff;
}

.latest-projects-wrapper:hover .latest-projects-project-description-text {
  color: #c7b299;
}

.latest-projects-wrapper:hover .latest-projects-project-share-btn:hover {
  background-image: url(../img/share_hover.svg);
}

.latest-projects-wrapper:hover .latest-projects-project-search-btn:hover {
  background-image: url(../img/search_hover.svg);
}

.latest-projects-wrapper:active .latest-projects-project-share-btn:hover {
  background-image: url(../img/share.svg);
}

.latest-projects-wrapper:active .latest-projects-project-search-btn:hover {
  background-image: url(../img/search.svg);
}

.latest-projects-load-more-btn {
  margin: 10px auto 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 170px;
  min-height: 50px;
  border-radius: 3px;
  background-color: #998675;
  text-decoration: none;
  border-bottom: 3px solid #736357;
}

.latest-project-load-more-btn-rext {
  margin: auto;
  font-family: "Raleway - Extra Bold";
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  line-height: 23px;
  text-align: center;
  text-transform: uppercase;
}

.latest-projects-load-more-btn:hover {
  background-color: #736356;
  border-bottom: 3px solid #998675;
}

.latest-projects-load-more-btn:hover .latest-project-load-more-btn-rext {
  color: #ccc;
}

.latest-projects-load-more-btn:active .latest-project-load-more-btn-rext {
  color: #fff;
}

.video-presentation {
  width: 100%;
  max-height: 705px;
  position: relative;
  text-align: center;
}

.video-presentation video[poster] {
  width: 100%;
}

.video-presentation-annotation {
  width: 100%;
  height: 100%;
  padding: 210px 0 0 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  background-color: rgba(17, 17, 17, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.video-presentation-annotation-play-btn {
  width: 100px;
  height: 100px;
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.2);
  background-image: url(../img/play-button.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.video-presentation-annotation-play-btn:hover {
  background-image: url(../img/play-button-hover.svg);
}

.video-presentation-annotation-play-btn:active {
  background-image: url(../img/play-button.svg);
}

.video-presentation-title {
  margin: 44px 0 0;
  font-family: "Raleway Regular";
  font-size: 30px;
  font-weight: 500;
  color: #fff;
}

.video-presentation-text {
  display: block;
  margin: 29px 0 0;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
  max-width: 552px;
  color: #fff;
}

.video-presentation-duration {
  display: block;
  margin: 40px 0 0;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #c7b299;
}

.mobile {
  width: 100%;
  background-color: #fbfaf8;
  padding: 80px 0 0 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: top;
  -ms-flex-align: top;
  align-items: top;
}

.mobile-iphone {
  display: block;
  margin: 0 0 0 423px; 
}

.mobile-description {
  margin: 115px 0 0 30px;
  padding: 0;
  text-align: left;
}

.mobile-description-title {
  font-family: "Raleway - Semi Bold";
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  color: #555;
  margin: 0;
}

.mobile-description-text {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 300;
  line-height: 26px;
  color: #8c8c8c;
  text-align: justify;
  margin: 40px 0 0 0;
  width: 657px;
}

.mobile-description-list {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 300;
  line-height: 32px;
  color: #8c8c8c;
  margin: 40px 0 0 0;
  list-style-type: none;
}

.mobile-description-list-item {
  background-image: url(../img/list-marker.png);
  background-size: 21px 21px;
  background-repeat: no-repeat;
  background-position: center left;
  padding: 0 0 0 50px;
}

.statistics {
  width: 100%;
  background-image: -webkit-gradient(linear, left top, right top, from(#211b19), to(#4e3427));
  background-image: linear-gradient(to right, #211b19 0%, #4e3427 100%);
  padding: 70px 0 60px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.statistics-item {
  text-align: center;
  margin: 0 50px;
}

.statistics-item-icon {
  fill: #c7b299;
}

.statistics-item-number {
  font-family: "Montserrat - Ultra Light";
  font-size: 48px;
  font-weight: 400;
  line-height: 36px;
  color: #fff;
  margin: 30px 0 0 0;
}

.statistics-item-number-description {
  display: block;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 300;
  line-height: 14px;
  text-transform: uppercase;
  color: #c7b299;
  margin: 20px 0 0 0;
}

.statistics-item-number-description:after {
  content: "";
  display: block;
  width: 30px;
  height: 2px;
  background-color: #fff;
  margin: 30px auto 0;
}

.recent-posts {
  width: 100%;
  background-color: #fff;
  padding: 80px 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.recent-posts-title {
  font-family: "Raleway - Semi Bold";
  font-size: 30px;
  font-weight: 400;
  color: #555;
  line-height: 30px;
  margin: 0;
}

.recent-posts-text {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
  color: #8c8c8c;
  line-height: 28px;
  text-align: center;
  margin: 24px 0 0 0;
  max-width: 757px;
}

.recent-posts-wrapper {
  margin: 40px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.recent-posts-article {
  margin: 0 15px 0;
  max-width: 370px;
  position: relative;
  -webkit-transition: background-color 1s;
  transition: background-color 1s;
}

.recent-posts-article-photo {
  display: block;
  -webkit-transition: -webkit-filter 1s;
  transition: -webkit-filter 1s;
  transition: filter 1s;
  transition: filter 1s, -webkit-filter 1s;
}

.recent-posts-article-date {
  width: 50px;
  position: absolute;
  left: 20px;
  top: 20px;
  text-align: center;
}

.recent-posts-article-date-day {
  display: block;
  width: 100%;
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 300;
  line-height: 40px;
  color: #fff;
  background-color: #363636;
  border-radius: 3px 3px 0 0;
  -webkit-transition: background-color 1s;
  transition: background-color 1s;
}

.recent-posts-article-date-month {
  display: block;
  width: 100%;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  line-height: 25px;
  color: #fff;
  background-color: #252525;
  border-radius: 0 0 3px 3px;
  -webkit-transition: background-color 1s;
  transition: background-color 1s;
}

.recent-posts-article-title {
  font-family: "Raleway Regular";
  font-size: 20px;
  font-weight: 500;
  color: #555;
  line-height: 20px;
  margin: 30px 0 0 30px;
  -webkit-transition: color 1s;
  transition: color 1s;
}

.recent-posts-article-text {
  display: block;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  margin: 20px 0 0 30px;
  -webkit-transition: color 1s;
  transition: color 1s;
}

.recent-posts-article-read-more {
  display: block;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 300;
  line-height: 14px;
  color: #c7b299;
  margin: 27px 0 33px 30px;
  text-decoration: none;
}

.recent-posts-article-read-more-arrow {
  fill: #c7b299;
  margin: 0 0 0 9px;
}

.recent-posts-article:hover {
  background-color: #362f2d;
}

.recent-posts-article:hover .recent-posts-article-photo {
  -webkit-filter:brightness(35%);
  filter:brightness(35%);
}

.recent-posts-article:hover .recent-posts-article-date-day {
  background-color: #c7b299;
}

.recent-posts-article:hover .recent-posts-article-date-month {
  background-color: #a48d72;
}

.recent-posts-article:hover .recent-posts-article-title {
  color: #c7b299;
}

.recent-posts-article:hover .recent-posts-article-text {
  color: #fff;
}

.recent-posts-article-read-more:hover {
  color: #fff;
}

.recent-posts-article-read-more:hover .recent-posts-article-read-more-arrow {
  fill: #fff;
}

.recent-posts-article-read-more:active {
  font-weight: 600;
}

.recent-posts-sliders {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 40px 0 0 0;
}

.recent-posts-slider-left {
  display: block;
  margin: 0 4px 0 0;
}

.recent-posts-slider-right {
  display: block;
  margin: 0 0 0 4px;
}

.recent-posts-slider-left-icon {
  fill: #d1d1d1;
}

.recent-posts-slider-right-icon {
  fill: #d1d1d1;
}

.recent-posts-slider-right:hover .recent-posts-slider-right-icon {
  fill: #c7b299;
}

.recent-posts-slider-left:hover .recent-posts-slider-left-icon {
  fill: #c7b299;
}

.recent-posts-slider-right:active .recent-posts-slider-right-icon {
  fill: #362f2d;
}

.recent-posts-slider-left:active .recent-posts-slider-left-icon {
  fill: #362f2d;
}

.partners {
  width: 100%;
  height: 489px;
  padding: 140px 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-image: url(../img/partners-photo.jpg);
  background-color: rgba(17, 17, 17, 0.7);
  background-blend-mode: darken;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.partners-link {
  display: block;
  margin: 0 45px;
}

.partners-logo {
  -webkit-transition: -webkit-filter 1s;
  transition: -webkit-filter 1s;
  transition: filter 1s;
  transition: filter 1s, -webkit-filter 1s;
}

.partners-link:hover .partners-logo {
  -webkit-filter: brightness(35%);
  filter: brightness(35%);
}

.partners-link:active .partners-logo {
  -webkit-filter: none;
  filter: none;
}

.main-footer {
  width: 100%;
}

.main-footer-top {
  width: 100%;
  padding: 80px 0;
  background-color: #191919;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.main-footer-top-waxom {
  max-width: 260px;
  margin: 0 15px;
}

.main-footer-top-waxom-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 181px;
}

.main-footer-top-waxom-logo-icon {
  fill: #d1d1d1;
}

.main-footer-top-waxom-logo-text {
  font-family: "Raleway Regular";
  font-size: 34px;
  font-weight: 400;
  color: #fff;
  letter-spacing: -1.36px;
  text-align: right;
}

.main-footer-top-waxom-text {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  color: #555;
  margin: 30px 0 0 0;
}

.main-footer-top-waxom-read-more {
  display: block;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 300;
  line-height: 14px;
  color: #d1d1d1;
  margin: 36px 0 0 0;
  text-decoration: none;
}

.main-footer-top-waxom-read-more-arrow {
  fill: #d1d1d1;
  margin: 0 0 0 10px;
}

.main-footer-top-waxom:hover .main-footer-top-waxom-text {
  color: #fff;
}

.main-footer-top-waxom-read-more:hover {
  color: #fff;
}

.main-footer-top-waxom-read-more:hover .main-footer-top-waxom-read-more-arrow {
  fill: #fff;
}

.main-footer-top-waxom-read-more:active {
  font-weight: 600;
}

.main-footer-top-recent-posts {
  width: 260px;
  margin: 0 15px;
}

.main-footer-top-recent-posts-title {
  font-family: "Raleway Regular";
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
  color: #fff;
  margin: 28px 0 0 0;
}

.main-footer-top-recent-posts-post {
  display: block;
  text-decoration: none;
  margin: 33px 0 0 0;
}

.main-footer-top-recent-posts-post-date {
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 300;
  line-height: 12px;
  color: #363636;
}

.main-footer-top-recent-posts-post-text {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  color: #555;
  margin: 10px 0 0 0;
}

.main-footer-top-recent-posts-post:hover .main-footer-top-recent-posts-post-date {
  color: #fff;
}

.main-footer-top-recent-posts-post:hover .main-footer-top-recent-posts-post-text {
  color: #c7b299;
}

.main-footer-top-recent-posts-post:active .main-footer-top-recent-posts-post-text {
  color: #fff;
}

.main-footer-top-twitter {
  max-width: 260px;
  margin: 0 15px;
}

.main-footer-top-twitter-title {
  font-family: "Raleway Regular";
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
  color: #fff;
  margin: 28px 0 0 0;
}

.main-footer-top-tweeter-tweet {
  display: block;
  text-decoration: none;
}

.main-footer-top-tweeter-tweet-text {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  color: #555;
  margin: 30px 0 10px;
}

.main-footer-top-tweeter-tweet-text span {
  color: #00bff3;
}

.main-footer-top-tweeter-tweet-time {
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 300;
  line-height: 12px;
  color: #363636;
}

.main-footer-top-tweeter-tweet:hover .main-footer-top-tweeter-tweet-text{
  color: #c7b299;
}

.main-footer-top-tweeter-tweet:hover .main-footer-top-tweeter-tweet-time {
  color: #fff;
}

.main-footer-top-tweeter-tweet:active .main-footer-top-tweeter-tweet-text{
  color: #fff;
}

.main-footer-top-widget {
  max-width: 270px;
  margin: 0 15px;
}

.main-footer-top-widget-title {
  font-family: "Raleway Regular";
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
  color: #fff;
  margin: 28px 0 0 0;
}

.main-footer-top-widget-photos {
  width: 100%;
  margin: 25px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.main-footer-top-widget-photos-photo {
  display: block;
  width: 130px;
  height: 98px;
  margin: 0 0 10px 0;
}

.main-footer-bottom {
  width: 100%;
  padding: 45px 0 52px;
  background-color: #111;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.main-footer-bottom-copyright {
  min-width: 400px;
  font-family: Montserrat;
  font-size: 13px;
  font-weight: 300;
  line-height: 20px;
  color: #555;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.main-footer-bottom-copyright-waxom {
  color: #959595;
}

.main-footer-bottom-copyright a {
  text-decoration: none;
  color: #555;
}

.main-footer-bottom-copyright a:hover {
  color: #c7b299;
}

.main-footer-bottom-copyright a:active {
  font-weight: 600;
}

.main-footer-bottom-designed {
  min-width: 320px;
  font-family: Montserrat;
  font-size: 13px;
  font-weight: 300;
  line-height: 20px;
  color: #555;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.main-footer-bottom-designed span a {
  text-decoration: none;
  color: #959595;
}

.main-footer-bottom-designed span a:hover {
  color: #c7b299;
}

.main-footer-bottom-designed span a:active {
  font-weight: 600;
}

@media (max-width: 575.98px) {
  body {
    width: 100%;
  }

  .main-header {
    height: auto;
    padding: 20px;
  }
  
  .main-header-top {
    display: block;
  }

  .main-header-logo {
    margin: 0;
  }

  .main-header-menu-list {
    width: auto;
    margin: 0;
    display: block;
  }
  
  .main-header-menu-list-item a {
    text-align: right;
    margin: 50px 50px 0 0;
  }

  .main-header-bottom,
  .main-header-carousel-indicators,
  .main-header-cart_btn,
  .main-header-search {
    display: none;
  }

  .main-header-mobile-menu-label {
    display: block;
    
  }
  
  .realizations-work-directions {
    padding: 20px 0 ;
  }

  .realizations-work-directions-menu-item-wrapper {
    width: 255px;
    margin: 20px 10px;
  }
  
  .realizations-screenshots {
    display: none;
  }
  
  .multipurpose-theme {
    display: none;
  }
  
  .latest-projects-links {
    display: none;
  }
  
  .video-presentation video[poster] {
    width: 100%;
  }
  
  .mobile {
    display: block;
    padding: 20px;
    position: relative;
  }
  
  .mobile-iphone {
    width: 50%;
    height: auto;
    margin: 0;
    position: absolute;
    left: 10px;
    bottom: 0;
  }
  
  .mobile-description {
    margin: 0;
    text-align: center;
  }
  
  .mobile-description-text {
    width: auto;
    margin: 20px 0px;
  }
  
  .mobile-description-list {
    width: 50%;
    margin: 40px 0 40px 40%;
  }
  
  .mobile-description-list-item {
    padding: 0 0 0 30px;
  }
  
  .statistics {
    display: none;
  }
  
  .recent-posts {
    padding: 20px;
  }
  
  .recent-posts-article {
    margin: 10px auto;
  }
  
  .recent-posts-sliders {
    display: none;
  }
  
  .partners {
    height: auto;
    padding: 20px 0;
  }
  
  .partners-link {
    margin: 0 10px;
  }
  
  .partners-logo {
    width: 120px;
    height: auto;
  }
  
  .main-footer-top {
    padding: 20px 0;
  }
  
  .main-footer-top-waxom {
    width: 400px;
    margin: 10px
  }
  
  .main-footer-bottom {
    padding: 20px 0;
  }
  
  .main-footer-bottom-copyright {
    margin: 0 0 20px 0;
  }
  
  .main-footer-bottom-designed {
    margin: 0 0 20px 0;
  }
}