@font-face {
  font-family: "Raleway Regular";
  src: url(../fonts/Raleway-Regular.ttf);
}

@font-face {
  font-family: Montserrat;
  src: url(../fonts/Montserrat-Light.ttf);
}

@font-face {
  font-family: "Raleway - Extra Bold";
  src: url(../fonts/Raleway-ExtraBold.ttf);
}

@font-face {
  font-family: "Raleway - Semi Bold";
  src: url(../fonts/Raleway-SemiBold.ttf);
}

body {
  width: 1920px;
  margin: 0 auto;
  padding: 0;
}

.main-header {
  width: 100%;
  min-height: 1024px;
  padding: 40px 150px;
  box-sizing: border-box;
  background-image: url(../img/header.jpg);
  background-color: rgba(17, 17, 17, 0.7);
  background-blend-mode: darken;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.main-header-top {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.main-header-logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  width: 177px;
  margin-left: 226px;
}

.main-header-logo-icon {
  fill: #fff;
}

.main-header-logo-text {
  font-family: "Raleway Regular";
  font-size: 34px;
  font-weight: 400;
  color: #fff;
  letter-spacing: -1.36px;
  text-align: right;
}

.main-header-logo:hover .main-header-logo-text {
  color: #c7b299;
}

.main-header-logo:hover .main-header-logo-icon {
  fill: #c7b299;
}

.main-header-menu-list {
  list-style-type: none;
  width: 637px;
  padding: 0;
  display: flex;
  justify-content: space-between;
  margin: 22px 0 0 219px;
}

.main-header-menu-list-item a {
  display: block;
  width: 100%;
  height: 100%;
  color: #fff;
  text-align: center;
  text-decoration: none;
  font-family: Montserrat, sans-serif;
  font-size: 14px;
  font-weight: 300;
}

.main-header-menu-list-item a:hover {
  color: #c7b299;
}

.main-header-cart_btn {
  margin: 17px 0 0 63px;;
  padding: 0;
  border: 0;
  outline: none;
  background-color: transparent;
}

.main-header-cart-icon {
  fill: #fff;
}

.main-header-cart_btn:hover .main-header-cart-icon {
  fill: #c7b299;
}

.main-header-search {
  width: 24px;
  height: 24px;
  outline: none;
  border: 0;
  background-color: transparent;
  background-image: url(../img/icon-search.svg);
  background-size: contain;
  background-repeat: no-repeat;
  margin: 18px 0 0 28px;
}

.main-header-search:focus {
  width: 300px;
  transition: width 1s ease-out;
  background-image: none;
  background-color: #fff;
}

.main-header-bottom {
  margin-top: 285px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-header-title {
  width: 590px;
  
}

.main-header-small-title {
  margin: 0;
  height: 34px;
  color: #fff;
  font-family: "Raleway Regular";
  font-size: 36px;
  font-weight: 500;
  text-align: center;
}

.main-header-big-title {
  margin: 14px 0 0 0;
  height: 50px;
  color: #fff;
  font-family: "Raleway - Extra Bold";
  font-size: 52px;
  font-weight: 400;
  text-align: center;
}

.main-header-slogan {
  margin: 19px 0 0 0;
  height: 39px;
  color: #fff;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  text-align: center;
}

.main-header-get-started-btn {
  margin: 52px auto 0;
  display: flex;
  width: 170px;
  min-height: 50px;
  border-radius: 3px;
  background-color: #998675;
  text-decoration: none;
  border-bottom: 3px solid #736357;
}

.main-header-get-started-btn-text {
  margin: auto;
  font-family: "Raleway - Extra Bold";
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  line-height: 23px;
  text-align: center;
  text-transform: uppercase;
}

.main-header-get-started-btn:hover {
  background-color: #736356;
  border-bottom: 3px solid #998675;
}

.main-header-get-started-btn:hover .main-header-get-started-btn-text {
  color: #ccc;
}

.main-header-get-started-btn:active .main-header-get-started-btn-text {
  color: #fff;
}

.main-header-slider-left {
  display: block;
  width: 40px;
  height: 73px;
  position: relative;
}

.main-header-slider-left::after {
  content: "";
  display: inline-block;
  width: 52px;
  height: 52px;
  border-top: 2px solid #fff;
  border-left: 2px solid #fff;
  transform: rotate(-45deg);
  position: absolute;
  top: 10px;
  left: -25px;
}

.main-header-slider-left:hover::after {
  border-top: 2px solid #c7b299;
  border-left: 2px solid #c7b299;
}

.main-header-slider-right {
  display: block;
  width: 40px;
  height: 73px;
  position: relative;
}

.main-header-slider-right::after {
  content: "";
  display: inline-block;
  width: 52px;
  height: 52px;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  transform: rotate(45deg);
  position: absolute;
  top: 10px;
  left: -25px;
}

.main-header-slider-right:hover::after {
  border-top: 2px solid #c7b299;
  border-right: 2px solid #c7b299;
}

.main-header-carousel-indicators {
  width: 100%;
  margin: 327px auto 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-header-carousel-btn {
  display: block;
  height: 11px;
  width: 11px;
  margin: 0 6px 0;
  border-radius: 50%;
  background-color: #fff;
  opacity: 0.5;
}

.main-header-carousel-btn:hover {
  background-color: #c7b299;
  opacity: 1;
}

.main-header-carousel-btn-active {
  display: block;
  height: 11px;
  width: 11px;
  margin: 0 6px 0;
  border: 2px solid #c7b299;
  border-radius: 50%;
  background-color: transparent;
}

.main-header-carousel-btn-active:hover {
  background-color: #c7b299;
}

.realizations {
  width: 100%;
}

.realizations-work-directions {
  background-color: #fff;
  display: flex;
  justify-content: center;
  padding: 80px 0;
  box-sizing: border-box;
}

.realizations-work-directions-menu-item-wrapper {
  margin: 0;
}

.realizations-work-directions-menu-item-link {
  display: block;
  text-decoration: none;
  text-align: center;
  margin: 0 15px;
  padding: 0;
}

.realizations-work-directions-menu-item-icon {
  fill: #555;
  height: 49px;
}

.realizations-work-directions-menu-item-caption {
  width: 266px;
}

.realizations-work-directions-menu-item-title {
  display: block;
  height: 21px;
  color: #555;
  font-family: "Raleway - Semi Bold";
  font-size: 22px;
  font-weight: 400;
  margin: 30px 0 19px;
}

.realizations-work-directions-menu-item-text {
  margin: 0;
  color: #8c8c8c;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.realizations-work-directions-menu-item-text:after {
  content: "";
  display: block;
  width: 70px;
  height: 3px;
  background-color: #f1eee9;
  margin: 30px auto 0;
}

.realizations-work-directions-menu-item-link:hover .realizations-work-directions-menu-item-icon {
  fill: #c7b299;
}

.realizations-work-directions-menu-item-link:hover .realizations-work-directions-menu-item-title {
  color: #c7b299;
}

.realizations-work-directions-menu-item-link:hover .realizations-work-directions-menu-item-text:after {
  background-color: #c7b299;
}

.realizations-screenshots {
  background-color: #fbfaf8;
  text-align: center;
  min-height: 700px;
  padding: 83px 0 0 0;
  box-sizing: border-box;
  position: relative;
}

.realizations-screenshots-title {
  color: #555;
  font-family: "Raleway - Semi Bold";
  font-size: 30px;
  font-weight: 400;
  margin: 0;
}

.realizations-screenshots-text {
  color: #8c8c8c;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
  max-width: 757px;
  margin: 24px auto 0;
}

.realizations-screenshots-screenshot-left {
  width: 770px;
  height: 400px;
  position: absolute;
  bottom: 0;
  left: 345px;
  z-index: 1;
}

.realizations-screenshots-screenshot-center {
  width: 770px;
  height: 482px;
  position: absolute;
  bottom: 0;
  left: 575px;
  z-index: 3;
}

.realizations-screenshots-screenshot-right {
  width: 770px;
  height: 400px;
  position: absolute;
  bottom: 0;
  right: 345px;
  z-index: 1;
}

.realizations-screenshots-screenshot-left:hover {
  z-index: 5;
}

.realizations-screenshots-screenshot-right:hover {
  z-index: 5;
}

.multipurpose-theme {
  width: 100%;
  background-color: #f4f5f8;
  background-image: -webkit-linear-gradient(left, #211b19 0%, #4e3427 100%);
  background-image: -o-linear-gradient(left, #211b19 0%, #4e3427 100%);
  background-image: linear-gradient(to right, #211b19 0%, #4e3427 100%);
  padding: 50px 0 50px;
  box-sizing: border-box;
  min-height: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.multipurpose-theme-title {
  font-family: "Raleway Regular";
  font-size: 28px;
  font-weight: 400;
  line-height: 28px;
  color: #fff;
  margin: 0 0 8px 376px;
}

.multipurpose-theme-title span {
  color: #c7b299;
}

.multipurpose-theme-text {
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 300;
  line-height: 18px;
  color: #615855;
  margin: 0 0 0 376px;
}

.multipurpose-theme-purchase-btn {
  margin: 0 374px 0 0;
  display: flex;
  width: 170px;
  min-height: 50px;
  border-radius: 3px;
  background-color: #998675;
  text-decoration: none;
  border-bottom: 3px solid #736357;
}

.multipurpose-theme-purchase-btn-text {
  margin: auto;
  font-family: "Raleway - Extra Bold";
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  line-height: 23px;
  text-align: center;
  text-transform: uppercase;
}

.multipurpose-theme-purchase-btn:hover {
  background-color: #736356;
  border-bottom: 3px solid #998675;
}

.multipurpose-theme-purchase-btn:hover .multipurpose-theme-purchase-btn-text {
  color: #ccc;
}

.multipurpose-theme-purchase-btn:active .multipurpose-theme-purchase-btn-text {
  color: #fff;
}

.latest-projects {
  width: 100%;
  background-color: #fff;
  padding: 80px 0;
  box-sizing: border-box;
  text-align: center;
}

.latest-projects-title {
  display: block;
  margin: 0;
  color: #555;
  font-family: "Raleway - Semi Bold";
  font-size: 30px;
  font-weight: 400;
}

.latest-projects-text {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 300;
  color: #8c8c8c;
  line-height: 28px;
  max-width: 757px;
  margin: 24px auto 0;
}

.latest-projects-categories {
  display: flex;
  justify-content: center;
  margin: 40px 0 0 0;
}

.latest-projects-categories-btn {
  display: block;
  text-decoration: none;
  margin: 0 5px;
  border: 1px solid #ebebeb;
  border-radius: 3px;
}

.latest-projects-categories-btn-active {
  display: block;
  text-decoration: none;
  margin: 0 5px;
  border: 1px solid #ebebeb;
  border-radius: 3px;
  background-color: #998675;
}

.latest-projects-categories-btn-text {
  display: block;
  text-align: center;
  margin: 10px 20px;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 300;
  line-height: 14px;
  color: #8c8c8c;
}

.latest-projects-categories-btn-active-text {
  display: block;
  text-align: center;
  margin: 10px 20px;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 300;
  line-height: 14px;
  color: #fff; 
}

.latest-projects-categories-btn:hover {
  background-color: #998675;
}

.latest-projects-categories-btn:hover .latest-projects-categories-btn-text {
  color: #fff;
}

.latest-projects-links {
  margin: 40px 375px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.latest-projects-wrapper {
  margin: 0 0 30px 0;
  position: relative;
}

.latest-projects-project-photo {
  display: block;
  width: 370px;
  height: 237px;
}

.latest-projects-project-share-btn,
.latest-projects-project-search-btn {
  width: 26px;
  height: 26px;
  padding: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  background-color: transparent;
  display: none;
  position: absolute;
  top: 105px;
}

.latest-projects-project-share-btn {
  background-image: url(../img/share.svg);
  left: 145px;
}

.latest-projects-project-search-btn {
  background-image: url(../img/search.svg);
  right: 145px;
}

.latest-projects-project-description {
  width: 370px;
  padding: 30px;
  box-sizing: border-box;
  background-color: #fbfaf8;
  text-align: left;
  position: relative;
}

.latest-projects-project-description::before {
  content: "";
  border: 10px solid transparent;	
  border-bottom: 10px solid #fbfaf8;
  position: absolute;
  top: -20px;
  left: 25px;
}

.latest-projects-project-description-title {
  display: block;
  margin: 0;
  font-family: "Raleway Regular";
  font-size: 20px;
  font-weight: 500;
  color: #c7b299;
}

.latest-projects-project-description-text {
  display: block;
  margin: 14px 0 0 0;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 300;
  color: #d1d1d1;
}

.latest-projects-wrapper:hover .latest-projects-project-photo {
  filter: brightness(35%);
}

.latest-projects-wrapper:hover .latest-projects-project-share-btn {
  display: block;
}

.latest-projects-wrapper:hover .latest-projects-project-search-btn {
  display: block;
}

.latest-projects-wrapper:hover .latest-projects-project-description {
  background-color: #362f2d;
}

.latest-projects-wrapper:hover .latest-projects-project-description::before {
  border-bottom: 10px solid #362f2d;
}

.latest-projects-wrapper:hover .latest-projects-project-description-title {
  color: #fff;
}

.latest-projects-wrapper:hover .latest-projects-project-description-text {
  color: #c7b299;
}

.latest-projects-wrapper:hover .latest-projects-project-share-btn:hover {
  background-image: url(../img/share_hover.svg);
}

.latest-projects-wrapper:hover .latest-projects-project-search-btn:hover {
  background-image: url(../img/search_hover.svg);
}


.latest-projects-load-more-btn {
  margin: 10px auto 0;
  display: flex;
  width: 170px;
  min-height: 50px;
  border-radius: 3px;
  background-color: #998675;
  text-decoration: none;
  border-bottom: 3px solid #736357;
}

.latest-project-load-more-btn-rext {
  margin: auto;
  font-family: "Raleway - Extra Bold";
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  line-height: 23px;
  text-align: center;
  text-transform: uppercase;
}

.latest-projects-load-more-btn:hover {
  background-color: #736356;
  border-bottom: 3px solid #998675;
}

.latest-projects-load-more-btn:hover .latest-project-load-more-btn-rext {
  color: #ccc;
}

.latest-projects-load-more-btn:active .latest-project-load-more-btn-rext {
  color: #fff;
}

.video-presentation {
  width: 100%;
  height: 705px;
  position: relative;
}

.video-presentation-annotation {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  background-color: rgba(17, 17, 17, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.video-presentation-annotation-play-btn {
  width: 100px;
  height: 100px;
  margin: 0 0 44px 0;
  padding: 0;
  outline: none;
  border: none;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.2);
  background-image: url(../img/play-button.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.video-presentation-annotation-play-btn:hover {
  background-image: url(../img/play-button-hover.svg);
}

.video-presentation-title {
  margin: 0 0 29px 0;
  font-family: "Raleway Regular";
  font-size: 30px;
  font-weight: 500;
  color: #fff;
}

.video-presentation-text {
  display: block;
  margin: 0 0 40px 0;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
  max-width: 552px;
  color: #fff;
}

.video-presentation-duration {
  display: block;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #c7b299;
}